{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropzone v6 in Django</title>
   
<link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="dropzone svelte-12uhhij dz-clickable">
        <div class="dz-message svelte-12uhhij">
            <h1 class="svelte-12uhhij">Try it out!</h1>
            <p>Drag and drop files here</p>
            <p class="comment svelte-12uhhij">This is just a demo Dropzone.
                <br>
                Dropped files are <strong>not</strong> actually uploaded.</p>
        </div>
    </div>
    
<script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
</body>
</html>